doctype 5
html
head
        title The Mind COmpany        
        script(src='/socket.io/socket.io.js')
        script(src='/js/socket.js')
        script(src='/js/login.js')
        block head
body
        #content
                block content