doctype 5
html
head
        title The Mind Company        
        script(src='/socket.io/socket.io.js')
        script(src='/js/socket.js')
        link(rel='stylesheet', href='/css/style.css')
        block head
body
        header
        block section