extends layout

block head
		script(src='/js/login.js')
		
block section
		form#login(method='POST', action='/login')
				input#user.loginField(name='user', placeholder='User Email', type='email', required)
				br
				input#password.loginField(name='password', placeholder='Password', type='password')
				br
				#submitBox
						a#registerLink(href='/register') Create Account
						input#loginButton(value='Sign In', type='submit')
				
				if (msg)
						br
						p#status #{msg}